*{
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 80vh;
    width: 100vw;
    margin: 0;
    background: url('../public/chalkboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#root {
    width: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#game-container{
    width: 80%;
    margin: 5rem auto;
    padding: 1rem;
    border-radius: 6px;
    background-color: aliceblue;
    box-shadow: 5px 5px 10px 5px rgba(162, 162, 162, 0.864);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#players{
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 90%;
}

#players li {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 45%;
    border: 1px solid gray;
    border-radius:5px;
    padding: 0.5rem 1rem;
}

.player{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
}

.player-name {
    font-size: 1.1rem;
    margin-right: 1rem;
    width: 40%;
    text-align: center;
    padding: 0.5rem 0;
}

.player input {
  font: inherit;
  font-size: 1rem;
  width: 10rem;
  border: none;
  padding: 0.5rem;
  animation: pulse-text 2s infinite;
  background-color: #d9f2eb;
  text-align: center;
  text-transform: uppercase;
}

.player button {
    border: none;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
}

.player button:hover {
    color: rgb(68, 205, 236);
}

#players.highlight-player li.active {
    background-color: rgba(32, 199, 71, 0.189);
    animation: pulse 2s infinite ease-in-out;
    box-shadow: 1px 4px 5px rgba(40, 225, 89, 0.69);
}

#players.highlight-player li.active .player-name,
#players.highlight-player li.active .player-symbol {
  color: #389d28;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#pre-game {
  text-align: center;
}

#pre-game button {
  cursor: pointer;
  background: none;
  color: #f8c031;
  border: none;
  font-family: 'Caprasimo', cursive;
  font-size: 4rem;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
  animation: pulse-text-size 2s infinite ease-out;
}

#game-board{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 3rem 0;
    padding: 0;
    flex-direction: column;
}

#game-board ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

#game-board button {
  width: 8rem;
  height: 8rem;
  border: none;
  background: #888dac;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(244, 233, 211);
  font-size: 5rem;
  cursor: pointer;
  font-family: 'Caprasimo', cursive;
  padding: 1rem;
  border-radius: 10px;
}



@keyframes pulse {
  0% {
    border-color: #f6e35a;
    box-shadow: 1px 4px 5px rgba(40, 225, 89, 0.69);
  }
  50% {
    border-color: #f8c031;
    box-shadow: 1px 4px 5px rgba(40, 225, 89, 0.69);
    transform:  scale(1.1);
  }
  100% {
    border-color: #f6e35a;
    box-shadow: 1px 4px 5px rgba(40, 225, 89, 0.69);
  }
}

@keyframes pulse-text {
  0% {
    color: #c7cbe1;
  }
  50% {
    color: #0d63a5;
  }
  100% {
    color: #c7cbe1;
  }
}