*{
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 80vh;
    width: 100vw;
    margin: 0;
    background: url('../public/chalkboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#root {
    width: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#game-container{
    width: 100%;
    margin: 3rem auto;
    padding: 1rem;
    border-radius: 6px;
    background-color: aliceblue;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
}


#players{
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}

#players li {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 45%;
    border: 1px solid gray;
    border-radius:5px;
    padding: 0.5rem 1rem;
}

.player{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
}

.player-name {
    font-size: 1.1rem;
    margin-right: 1rem;
    width: 40%;
    text-align: center;
    padding: 0.5rem 0;
}

.player input {
  font: inherit;
  font-size: 1rem;
  width: 10rem;
  border: none;
  padding: 0.5rem;
  animation: pulse-text 2s infinite;
  background-color: #d9f2eb;
  text-align: center;
  text-transform: uppercase;
}

.player button {
    border: none;
    background-color: transparent;
    font-weight: 600;
}

.player button:hover {
    color: rgb(68, 205, 236);
}

#players.highlight-player li.active {
    background-color: rgb(32, 199, 71);
    animation: pulse 2s infinite ease-in-out;
    box-shadow: 1px 4px 5px rgba(40, 225, 89, 0.69);
}

#players.highlight-player li.active .player-name,
#players.highlight-player li.active .player-symbol {
  color: #389d28;
}



@keyframes pulse {
  0% {
    border-color: #f6e35a;
    box-shadow: 0 0 0 0 rgba(246, 227, 90, 0.4);
  }
  50% {
    border-color: #f8c031;
    box-shadow: 0 0 0 0.5rem rgba(248, 165, 49, 0);
  }
  100% {
    border-color: #f6e35a;
    box-shadow: 0 0 0 0 rgba(246, 227, 90, 0);
  }
}

@keyframes pulse-text {
  0% {
    color: #c7cbe1;
  }
  50% {
    color: #0d63a5;
  }
  100% {
    color: #c7cbe1;
  }
}